
* {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    background-color: #13121c;
    color: #ffffff;
    box-sizing: border-box;
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:  #13121c;
    position: relative;
    height: 70px;
}

.logo{
    color: #fff;
}

nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}
.text{
    text-align: center;
}



















@media (max-width:600px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background:  #13121c;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
    #father-box{
        flex-wrap: wrap;
        gap: 40px;
    }
}
@media (max-width:1024px) {
    #father-box{
        gap: 20px;
    }
}





















#father-box{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.box {
    width: 400px;
    background-color:#623686;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(211, 62, 248, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(73, 13, 151, 0.2);
  }

  .box img {
    width: 100%;
    height: auto;
    display: block;
  }

  .box-content {
    padding: 15px;
  }

  .btn {
    display: inline-block;
    padding: 8px 15px;
    margin-right: 10px;
    background-color: #623686;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  /* .btn:hover {
    background-color: #623686;
  } */